:root {
  /* Fonts */
  --main-font: "Roboto", sans-serif;
  --main-color: #434455;
  --main-bg-cl: #fff;
}
/* Base styles */
body {
  font-family: var(--main-font);
  color: var(--main-color);
  background: var(--main-bg-cl);
}
ul {
  list-style: none;
}
.link {
  text-decoration: none;
}

h1,
h2,
h3 {
  color: var(--navyblue, #2e2f42);
}
button {
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
}
.text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.03em;
}

/* Filter button */
.button-filter {
  color: var(--iris, #4d5ae5);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.button-filter-content:hover {
  background: var(--ocean, #404bbf);
  color: var(--white, #fff);
}
.button-filter-content:focus {
  background: var(--cloud, #f4f4fd);
  color: var(--iris, #4d5ae5);
}

/* Top Line */
/* LOGO */
.logo-link {
  color: var(--iris, #4d5ae5);
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-part {
  color: var(--navyblue, #2e2f42);
}
.logo-part-footer {
  color: var(--cloud, #f4f4fd);
}
/* Nav */
.info-page {
  color: var(--navyblue, #2e2f42);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.03em;
}
.info-page-studio:hover,
.info-page-studio:focus,
.info-page-studio:active {
  color: var(--ocean, #404bbf);
  text-decoration: underline;
}
.info-page-portfolio:hover,
.info-page-portfolio:focus,
.info-page-portfolio:active {
  color: var(--ocean, #404bbf);
  text-decoration: underline;
}
.info-page-contacts:hover,
.info-page-contacts:focus,
.info-page-contacts:active {
  color: var(--ocean, #404bbf);
  text-decoration: underline;
}

.info-contact {
  color: var(--slate, #434455);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.03em;
}

/* Hero section */
.hero {
  background: var(--navyblue, #2e2f42);
}
.hero-text {
  color: var(--white, #fff);
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
}
.hero-button {
  background: var(--iris, #4d5ae5);
  color: var(--white, #fff);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.03em;
}
/* Main section 1 */
.benefits-title-point {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.2em;
}

/* Main section 2 */
.product-title {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
/* Main section 3 */
.team-title {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.team-title-name {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.2em;
}
/* Portfolio section */
.portfolio-title {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.2em;
}
/* Footer */
.footer {
  background-color: var(--navyblue, #2e2f42);
}
.text-footer {
  color: var(--cloud, #f4f4fd);
}
